[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/artkar22
[access "refs/for/refs/*"]
	read = group user/artkar22
	push = group user/artkar22
	label-Code-Review = -2..+2 group user/artkar22
	label-Verified = -1..+1 group user/artkar22
	rebase = group user/artkar22
	removeReviewer = group user/artkar22
	submit = group user/artkar22
[access "refs/heads/*"]
	read = group user/artkar22
	create = group user/artkar22
	push = +force group user/artkar22
	pushMerge = group user/artkar22
[access "refs/tags/*"]
	push = group user/artkar22
	push = +force group user/artkar22
